.song-table {
    width: 100%;
    min-width: 560px;
    border-collapse: collapse;
}

.song-table th, .song-table td {
    text-align: left;
    padding: 14px 12px;
    border-bottom: 1px solid #f3f6f3;
}

song-table tr:nth-child(even) {
    background: #f4f6f4;
}
